<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <!-- START CONFIG -->
  <display-name>JMTrain 0.2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- SECURITY CONFIG -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Auth</web-resource-name>
      <description>Resource can be availble after login</description>
      <url-pattern>/login</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>attendee</role-name>
      <role-name>trainer</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>attendee</role-name>
  </security-role>
  <security-role>
    <role-name>trainer</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/login.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- JSP, EL CONFIG -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.jspf</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <!-- SERVLET MAPPING -->
  <!--  <servlet>-->
  <!--    <servlet-name>SubscribtionsController</servlet-name>-->
  <!--    <servlet-class>san.jee.cecherz.controller.content.SubscribtionsController</servlet-class>-->
  <!--  </servlet>-->

  <!--  <servlet-mapping>-->
  <!--    <servlet-name>SubscribtionsController</servlet-name>-->
  <!--    <url-pattern>/</url-pattern>-->
  <!--  </servlet-mapping>-->

  <!-- SESSION CONFIG -->
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
</web-app>